[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
sqlparse = "==0.5.1"
django = "==5.0"
psycopg2-binary = "*"
pytest-django = "*"
twilio = "*"
dotenv = "*"
django-widget-tweaks = "*"
pillow = "*"
phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.12"

requests>=2.32.3
