[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=4.2,<4.3"
asgiref = "==3.8.1"
sqlparse = "==0.5.1"
psycopg2-binary = ">=2.9"
twilio = "*"
python-dotenv = "*"
django-widget-tweaks = "*"
Pillow = "*"
phonenumbers = "*"
requests = ">=2.32.3"
gunicorn = ">=21.2"
redis = ">=5"
dj-database-url = "*"
dotenv = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3.12"
