-i https://pypi.org/simple
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.12.15; python_version >= '3.9'
aiohttp-retry==2.9.1; python_version >= '3.7'
aiosignal==1.4.0; python_version >= '3.9'
asgiref==3.8.1; python_version >= '3.8'
attrs==25.3.0; python_version >= '3.8'
certifi==2025.8.3; python_version >= '3.7'
charset-normalizer==3.4.3; python_version >= '3.7'
dj-database-url==3.0.1
django==4.2.25; python_version >= '3.8'
django-widget-tweaks==1.5.0; python_version >= '3.8'
frozenlist==1.7.0; python_version >= '3.9'
gunicorn==23.0.0; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
multidict==6.6.4; python_version >= '3.9'
packaging==25.0; python_version >= '3.8'
phonenumbers==9.0.15
pillow==11.3.0; python_version >= '3.9'
propcache==0.3.2; python_version >= '3.9'
psycopg2-binary==2.9.10; python_version >= '3.8'
pyjwt==2.10.1; python_version >= '3.9'
python-dotenv==1.1.1; python_version >= '3.9'
redis==6.4.0; python_version >= '3.9'
requests==2.32.5; python_version >= '3.9'
sqlparse==0.5.1; python_version >= '3.8'
twilio==9.8.3; python_full_version >= '3.7.0'
urllib3==2.5.0; python_version >= '3.9'
yarl==1.20.1; python_version >= '3.9'
phonenumberslite
python-dateutil>=2.9.0