{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Chuchote{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% include "partials/_favicons.html" %}
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    {% block content %}{% endblock %}

    <!-- ❌ 'vendor/bootstrap' -->
    <!-- ✅ chemin qui correspond à ton arborescence -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
