{# dashboard/clients_list.html #}
{% extends "base_dashboard.html" %}
{% block title %}Clients{% endblock %}
{% block body_data_page %}clients{% endblock %}
{% block nav_clients_active %}active{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-between mb-3">
  <h1 class="h4 section-title mb-0">Parrains</h1>
  <div></div> {# espace à droite pour conserver la hauteur #}
</div>

{# Boutons centrés #}
<div class="mb-4 text-center">
  <div class="d-grid gap-2 d-md-inline-flex justify-content-center">
    <a class="btn btn-primary" href="{% url 'dashboard:referrer_create' %}">Créer un parrain</a>
    <a class="btn btn-outline-primary" href="{% url 'dashboard:referral_create' %}">Créer un parrainage</a>
    <a class="btn btn-outline-warning" href="{% url 'rewards:history_company' %}?state=PENDING">
    récompenses (en attente)
    </a>
  </div>
</div>

  {# tableau des parrains #}
  {% include "partials/_clients_table.html" %}
{% endblock %}
