{# templates/legal/contact.html #}
{% extends "base_legal_public.html" %}
{% block title %}Contact • Chuchote{% endblock %}

{% block content %}
<div class="py-4 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-8">
         <!-- lien retour landing -->
        <p class="mb-3">
          <a href="{% url 'accounts:login' %}" class="text-decoration-none" style="color:#210f49;">
            ← Retour à la page de connection
          </a>
        </p>
        <div class="bg-white p-4 p-md-5 shadow-sm" style="min-height: calc(100vh - 160px);">

          <h1 class="h3 fw-bold mb-3">📬 CONTACT – CHUCHOTE</h1>
          <p>
            Pour toute question concernant l’application Chuchote, vous pouvez nous écrire à :
          </p>

          <p class="mb-0">
            📧
            <a href="mailto:chuchote.contact@gmail.com">
              chuchote.contact@gmail.com
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
