{% extends "base_legal_public.html" %}
{% block title %}Mentions légales • Chuchote{% endblock %}

{% block content %}
<div class="py-4 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-10">
         <!-- lien retour landing -->
        <p class="mb-3">
          <a href="{% url 'accounts:login' %}" class="text-decoration-none" style="color:#210f49;">
            ← Retour à la page de connection
          </a>
        </p>
        <div class="bg-white p-4 p-md-5 shadow-sm" style="min-height: calc(100vh - 160px);">

          <h1 class="h3 fw-bold mb-3">
            ⚖️ MENTIONS LÉGALES – CHUCHOTE
          </h1>

          <p>
            Éditeur : <strong>EI DERUEL STANLEY</strong><br>
            SIRET : 843 285 875 00053<br>
            📧 Contact :
            <a href="mailto:chuchote.contact@gmail.com">chuchote.contact@gmail.com</a>
          </p>

          <hr class="my-4">

          <p class="mb-0">
            Les informations ci-dessus sont fournies conformément aux obligations légales
            applicables à l’éditeur de l’Application Chuchote.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
